{% extends "layout/default.html" %}

{% block content %}
  {% if mrecord_id %}
  <h1>MRecord Definition: {{ mrecord['name'] }}</h1>
  {% else %}
  <h1>MRecord Definition: {{ mrecord['name'] }}</h1>
  {% endif %}
  <p>
  <ul id="magnet_props">
    <table>
      {% for key, value in mrecord.items() %}
        <tr>
          <th>{{ key }}</th>
          <td>{{ value }}</td>
        </tr>
      {% endfor %}
      {% for key, value in desc.items() %}
      <tr>
        <th>{{ key }}</th>
        {% if key == 'Site' %}
        <td><a href="/sites/{{ mrecord.msite_id }}">{{ value }}</a></td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
      </tr>      
      {% endfor %}
    </table>
  </ul>
  </p>
  <button type="button" onclick="window.location.href='{{ url_for('run_panel', model='mrecordpanel') }}?name={{mrecord['name']}}&site_id={{ mrecord.msite_id }}'">
    View DataSet
  </button>
  
{% endblock %}
