{% extends "layout/default.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', path='js/copyclipboard.js') }}"></script>
  <div class="form-wrapper">
    <h2 class="title">To run Simulation</h2>

    <!-- "Edit cfgfile to fix the meshfile, scale, partition and solver props" -->
    <p>
        <li>Review the <a href="/cfgs/{{cfgfile}}">cfg</a> and <a href="/model_jsons/{{jsonfile}}"> files</a> created</li>
        <li>Select the server for actually running the simulation</li>
        <li>Transfer your data to this server</li>
        <li>Connect to the server</li>
        <li>Run the following commands</li>
    </p>
    
    <table>
        {% for key,value in cmds.items() %}
        <tr>
            <th>{{ key }} </th>
            <td><input type="text" value="{{ value|safe }}"  required size="120" readonly="readonly" id="myInput">
            <button onclick="myCopy()">Copy text</button></td>
        </tr>
        {% endfor %}
    </table>

  </div>
{% endblock %}
