{% extends "layout/default.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', path='js/copyclipboard.js') }}"></script>
  <div class="form-wrapper">
    <h2 class="title">To run Simulation</h2>

    <form method="POST" action="{{ url_for('do_setup') }}">
        {% for field in cmds %}
        <fieldset class="form-field">
            <b>{{ field }}:</b>
            <input type="text" value={{ cmds[field] }} id="myInput">
            <button onclick="myCopy()">Copy text</button>
        </fieldset>
        {% endfor %}
    </form>
  </div>
{% endblock %}
