{% extends "layout/default.html" %}

{% block content %}
  <h1>Simulations</h1>
  <p>This is a demonstrator for Simulations</p>
  <h2>Analytical Models</h2>
  <p>
    <ul id="mrecords_operations">
      <li>Self and Mutual Inductances for a <a href="self_setup/MSite"> site</a></li>
      <li>Forces for a <a href="forces_setup/MSite"> site</a></li>
      <li>Bmap for a <a href="bmap_setup/Magnet"> magnet</a> or a <a href="bmap_setup/MSite"> site</a></li>
      <li>Stressmap for a <a href="stress_setup/MSite"> site</a></li>
      <li>Failure Modes for a <a href="failures_setup/MSite"> site</a></li>
    </ul>
    </p>

  <h2>2D Axi and 3D Workflows</h2>
  <p>
  <ul id="mrecords_operations">
    <li>List <a href="simulations">Simulations</a></li>
    <li>Setup a <a href="sim_setup/Magnet">new simulation for a magnet</a></li>
    <li>Setup a <a href="sim_setup/MSite">new simulation for a site</a></li>
  </ul>
  </p>
{% endblock %}
